{{ define "nav" }}
    <nav class="container">
        <ul>
            <li><a class="button" href="/">Home</a></li>
            <li><a class="button" href="/contacts">Contacts</a></li>
            <li><a class="button" href="https://htmx.org/docs/" target="_blank">Docs</a></li>
        </ul>
    </nav>
{{ end }}
